.App {
  text-align: center;
}

.header-link{
  color: white;
  text-decoration: none;
  font-size: 2rem;
}
.header-link:hover{
  color: purple;
  font-size: 2.2rem;
}
.field{
  width: 15%;
  height: 3vh;
  text-align: center;
  margin: 3%;
}
.errors{
  color: red;
  /* border: 1px red solid; */
  /* width: 15%; */
  text-align: center
}
/* .fieldcontainer{
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
} */